@use "../../Global.scss" as *;


.outros-tons {
    font-family: $roboto;

    h2 {
        margin: 3rem 0;
    }

    .outros-tons-div {
        display: flex;
        padding: 0 5%;
        justify-content: center;
        margin-bottom: 4.8rem;
        // flex-direction: column;

        .outros-produtos {
            display: flex;
            flex-direction: column;
            gap: 5%;

            button {
              width: 5rem;
              height: 5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid $text-color-2;
              cursor: grab;
              transition: color 0.3s ease;
              color: $text-color;
              
              &:hover {
                  transform: scale(1.03);
                  transition: transform 0.3s ease;
                }
                
                &:active {
                    cursor: grabbing;
                    transform: scale(0.98);
                }
            }
            
            img {
                height: 100%;
            }
        }
        
        .produto-detalhes {
            display: flex;
            align-items: center;
            margin-left: 2.3rem;
            gap: 3rem;
            
            .destaque-batom {
                width: 25rem;
                height: 25rem;
                display: flex;
                justify-content: center;
                border: 3px solid $text-color-2;
                
                img {
                width: 10rem;                    
                }
            }

            #coracao {
                position: relative;
                bottom: 10.8rem;
                right: 5.7rem;
                transform: scale(1.3);
                              cursor: grab;
              transition: color 0.3s ease;
              color: $text-color;
              transition: transform 0.3s ease;

              &:hover {
                  transform: scale(1.5);
              }
                
                &:active {
                    cursor: grabbing;
                    transform: scale(1.7);
                }

                  &.ativo {
                    color: #EA3323; 
                }
            }

            .card-batom {
                width: 29rem;
                height: 100%;
                padding: 1rem;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                img {
                    width: 6.8rem;
                }

                h3 {
                    font-weight: 700;
                    font-size: 1.5rem;
                    color: $text-color-2;
                }

                #subtitulo {
                    font-weight: 400;
                    font-size: 0.6rem;
                    margin: 0.5rem 0 0.7rem;
                }

                button {
                    width: 3.75rem;
                    height: 3.75rem;
                    border-radius: 50%;
                    margin: 0 1rem 1rem 0;
                    cursor: grab;
                    border: 2px solid #fff;
                    box-shadow: 0 0 0 2px $shadow;

                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.5s ease;   
                        border: 2px solid #fff;
                        box-shadow: 0 0 0 3px $color-hover;
                    }

                    &:active {
                        cursor: grabbing;
                        transform: scale(1);
                    }
                }

                #cor1 {
                    background-color: #73282D;
                }

                #cor2 {
                    background-color: #E1342A;
                }

                #cor3 {
                    background-color:  #B1B0D8;
                }

                #cor4 {
                    background-color: #DE755E;
                }


                h4 {
                    margin: 0.4rem 0 0.8rem 0;
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                p {
                    font-weight: 400;
                    color: $text-color-2;
                }
            }

        }

    }

}

@media (max-width: 768px) {
    #lancamentos {
        h2  {
            margin: 2rem 0 0.5rem;
        }
        
        .lancamentos-div {
            margin-bottom: 1.5rem;

         .produtos {
             display: none;
             }

            .produto-detalhes {
                flex-direction: column;
                margin-left: 0;
                gap: 0.5rem;

                .produto-destaque {
                    img {
                        width: 10rem;
                    }
                }

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    padding: 0.8rem;


                    img {
                        width: 6rem;
                    }

                    h3 {
                        font-size: 1rem;
                    }

                    .botoes-cores {
                        display: flex;
                        align-items: center;
                    }
                    
                    button {
                        width: 2.5rem;
                        height: 2.5rem;
                        border: 1px solid #fff;
                        box-shadow: 0 0 0 2px $shadow;

                    &:hover {
                        box-shadow: 0 0 0 2px $color-hover;
                    }
                    }

                    #cor4 {
                        margin-right: 0;
                    }

                    h4 {
                        font-size: 0.95rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}