@use "../../Global.scss" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $poppins;
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: $cor-fundo;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

img {
    margin: 0.5rem 0rem 1rem 1.25rem;
    width: 12rem;
  }

  ul {
    display: flex;
    gap: 1.8rem;
    margin: 0.5rem 3.75rem 0 0;
    list-style-type: none;
  }

  li {
    font-size: 1.2rem;
    font-weight: 500;

    a {
      text-decoration: none;
    }
  }

  #burger {
    display: none;
  }
}

/* ============================
   MOBILE
============================ */
@media (max-width: 768px) {
  header {
    img {
      width: 7.25rem;
      margin: 1rem 0rem 1.3rem 0.2rem;
    }

    /* Botão hamburguer */
    #burger {
      display: flex;
      z-index: 1001;
      margin-right: 1.9rem;
      transform: scale(1.3);
      padding: 1px;
      border: none;
      background-color: $cor-fundo;
      border-radius: 4px;

      &:hover {
        cursor: grab;
        transform: scale(1.4);
        transition: transform 0.5s ease;
        border: 1px solid $color-hover;
      }

      &:active {
        transform: scale(1.2);
      }
    }

    /* Esconde o menu padrão */
    ul {
      display: none;
    }

    /* Menu mobile */
    .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: fixed;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(5px);

      z-index: 1000;

      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.4s ease, transform 0.4s ease;

      li {
        font-size: 1.5rem;
        margin: 1.5rem 0;
      }
    }

    /* Classe quando o menu estiver aberto */
    .menu.open {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
