@use "../../Global.scss" as *;


.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 9.5;
    margin: 2rem;

    h3 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .service {
        width: 13.3rem;
        
        a {
            line-height: 2rem;
            display: block;
            
            &:hover {
                  text-decoration: underline 2px;
                transform: scale(1.01); 
            } 
        }

    }
    
    .payment-methods {
        width: 18.3rem;
        
        .imagens {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
            width: 14rem;
            
            img {
                width: 4rem;
            }
        }
    }

    .networks {
        width: 23rem;

        .redes {
            display: flex;
            gap: 0.8rem;
            
            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 5px;
                cursor: grab;

                &:active {
                    cursor: grabbing;
                }
            }
        }

    }
}