//Variáveis globais e estilos base
$text-color: #333;
$a-color-footer: #2D2D2D;
$color-hover: #B20134;
$cor-fundo: #fff;

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: $roboto;
}

.links {
    cursor: pointer;
    transition: color 0.3s ease;
    
    &:hover {
        color: $color-hover;
        text-decoration: overline underline 2px;
    }
}





body {
  background-color: $cor-fundo;
}