.looks {
    display: flex;
    flex-wrap: wrap;

    h1 {
        width: 100%;
        text-align: center;
        margin: 3rem 0;
    }

    article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 3rem;

        img {
            width: 23%;
            cursor: grab;

            &:hover {
                transform: scale(1.05);
                transition: transform 0.5s ease;
                box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
            }

            &:active {
                cursor: grabbing;
            }
        }

    }
}

@media (max-width: 768px) {
    .looks {
        h1 {
            margin: 1.5rem 0;
        }

        article {
            margin: 0 1rem;
            gap: 0.7rem;

            img {
                width: 47%;
                margin-top: 1rem;
            }
        }
    }
}